.pet-image {
    width: 250px; 

    /* Optional: Make it a block element and center it horizontally */
    display: block;
    margin-left: auto;
    margin-right: auto; 

}
.actions-container {
    display: flex; 
    justify-content: center; 
    gap: 15px;

    margin-top: 20px; 
}
.action-item {
    text-align: center; 
}
.action-button {
    background-color: #b58e5b;
    color: #5f3e1f;
    border: 3px solid #3b2512;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.action-button:hover {
    background-color: #917147;
}